<%= form_with model: @task do |f| %>
    <p>Please update the details of this task as desired.</p>

    <%= f.label :item %>
    <%= f.text_field :task_name %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :due_date %>
    <%= f.text_field :date_due %>

    <%= f.submit action_name %>
<% end %>